{% from "components/markdown.html.jinja" import prose %}
{% from "components/open_api_macros.html.jinja" import render_example_block, render_media_type_selector, render_schema_list, render_example_tabs, render_security_requirements %}

{%- set initial_tab_index = initial_openapi_tab_index(operation) -%}
<div
  class="open-api-operation-tabs"
  x-data="{ activeIndex: {{ initial_tab_index }} }"
>
  <div class="open-api-operation-tabs-header">
    {% if operation.request_body %}
      <button :class="{ 'active': activeIndex == 0 }" @click="activeIndex = 0">
        Request Body
      </button>
    {% endif %}
    {% if operation.query_params %}
      <button :class="{ 'active': activeIndex == 1 }" @click="activeIndex = 1">
        Query Params
      </button>
    {% endif %}
    {% if operation.header_params %}
      <button :class="{ 'active': activeIndex == 2 }" @click="activeIndex = 2">
        Header Params
      </button>
    {% endif %}
    {% if operation.path_params %}
      <button :class="{ 'active': activeIndex == 3 }" @click="activeIndex = 3">
        Path Params
      </button>
    {% endif %}
    {% if operation.cookie_params %}
      <button :class="{ 'active': activeIndex == 4 }" @click="activeIndex = 4">
        Cookie Params
      </button>
    {% endif %}
    {% if operation.security_requirements %}
      <button :class="{ 'active': activeIndex == 5 }" @click="activeIndex = 5">
        Auth
      </button>
    {% endif %}
  </div>

  <div class="open-api-operation-tabs-content">
    {% if operation.request_body %}
      <div
        class="open-api-operation-tab-content"
        x-show="activeIndex == 0"
        {% if initial_tab_index != 0 %}x-cloak{% endif %}
      >
        <div class="open-api-media-type">
          {{ render_media_type_selector(operation.request_body.media_types, content_type='schema') }}
        </div>
      </div>
    {% endif %}
    {% if operation.query_params %}
      <div
        class="open-api-operation-tab-content"
        x-show="activeIndex == 1"
        {% if initial_tab_index != 1 %}x-cloak{% endif %}
      >
        {{ render_schema_list(operation.query_params, is_parameters=true) }}
      </div>
    {% endif %}
    {% if operation.header_params %}
      <div
        class="open-api-operation-tab-content"
        x-show="activeIndex == 2"
        {% if initial_tab_index != 2 %}x-cloak{% endif %}
      >
        {{ render_schema_list(operation.header_params, is_parameters=true) }}
      </div>
    {% endif %}
    {% if operation.path_params %}
      <div
        class="open-api-operation-tab-content"
        x-show="activeIndex == 3"
        {% if initial_tab_index != 3 %}x-cloak{% endif %}
      >
        {{ render_schema_list(operation.path_params, is_parameters=true) }}
      </div>
    {% endif %}
    {% if operation.cookie_params %}
      <div
        class="open-api-operation-tab-content"
        x-show="activeIndex == 4"
        {% if initial_tab_index != 4 %}x-cloak{% endif %}
      >
        {{ render_schema_list(operation.cookie_params, is_parameters=true) }}
      </div>
    {% endif %}
    {% if operation.security_requirements %}
      <div
        class="open-api-operation-tab-content"
        x-show="activeIndex == 5"
        {% if initial_tab_index != 5 %}x-cloak{% endif %}
      >
        {{ render_security_requirements(operation.security_requirements) }}
      </div>
    {% endif %}
  </div>
</div>
<div class="open-api-responses">
  <h3>Responses</h3>
  <div class="open-api-response-schemas">
    {% for response in operation.responses %}
      <div
        class="open-api-response-schema"
        x-data="{ open: false, headers: false }"
        x-cloak
      >
        <button
          class="open-api-response-header"
          @click="open = !open"
          x-bind:data-open="open"
        >
          <span>{{ response.code }}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
            />
          </svg>
        </button>

        <div class="open-api-response-content" x-show="open" x-cloak>
          {{ prose(response.description_ast, true) }}

          <div class="open-api-response-body-toggle-container">
            <span>Response body</span>
            <button
              class="open-api-response-body-toggle"
              @click="headers = !headers"
            >
              <span x-bind:data-checked="headers ? 'true' : 'false'"></span>
            </button>
            <span>Headers</span>
          </div>

          {% if response.media_types %}
            <div class="open-api-response-body" x-show="!headers">
              <div
                class="open-api-media-type"
                x-data="{ selectedMediaType: '{{ response.media_types[0].name }}' }"
              >
                {% if response.media_types|length > 1 %}
                  <div>
                    <select x-model="selectedMediaType">
                      {% for media_type in response.media_types %}
                        <option value="{{ media_type.name }}">
                          {{ media_type.name }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                {% endif %}

                {% for media_type in response.media_types %}
                  <div
                    x-show="selectedMediaType === '{{ media_type.name }}'"
                    {% if not loop.first %}x-cloak{% endif %}
                  >
                    {% if media_type.schemas and media_type.schemas|length > 0 %}
                      {{ render_schema_list(media_type.schemas) }}
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <p x-show="!headers" class="open-api-response-empty">
              This response is empty
            </p>
          {% endif %}

          <div class="open-api-response-headers" x-show="headers" x-cloak>
            {% if response.headers and response.headers|length > 0 %}
              {{ render_schema_list(response.headers, is_parameters=true) }}
            {% else %}
              <p class="open-api-response-empty">
                This response does not contain any headers
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
